/* -- Carousel Styles -- */
.more-products .myCarousel{	
	  overflow: hidden;
	  height: 85px;

	  .small-image{
		max-width: 70px;
	    height: 60px;
	    padding: 2px;
	    margin: 0;
	    cursor: pointer;
	  }

	  .ch-carousel-disabled {
	    display: block;
	    color: #e2e2e2;
	  }  
} 

.ch-popover-content .ch-price{
	  font-size: 1em;
}