.more-products .myCarousel{	
	   overflow: hidden;

	  .small-image{
		max-width: 60px;
	    height: 55px;
	    padding: 2px;
	    margin: 0;
	  }

	  .ch-carousel-disabled {
	    display: block;
	    color: #e2e2e2;
	  }
} 