/* -- Forms Styles -- */
.product-description{
    margin-top: $top;

    .ch-price span{
     font-size: 1.6em;
     line-height: normal;
     color: #900;
     font-weight: bold;
        sup{
          font-size: .5em;
          line-height: 1.5em;
          margin-left: 2px;
        }
    }

    .image{
     border: 1px solid $light-color;
     box-shadow: $light-shadow;
     background-color: $primary-color;
     border-radius: 5px;
     padding: 10px;
    }
}

.big-image img{
     width: 90%;
     height: 247px;
}

.ch-form > fieldset legend{
    display:none;
}

.ch-form .ch-form-row label{
    text-align: left;
    width: 55px;
}

.ch-form .details{
    padding: 0px;
}

#buy-button{
    line-height: 1.25em;
    padding: 4px 15px;
}