/* -- Base Styles -- */
body {
    background-color:  $background-color;
    padding: 50px 0px;
    background-image: url('../images/bg.jpg');
    background-repeat: repeat;
}

#wrapper {
    padding: 10px 20px;
    background-color: $light-color;
    display: block;
    max-width: 70%;
    margin: 15px auto;
    border: 5px solid #EADE61;
    border-radius: 2px;
    box-shadow: $light-shadow;
}

header {
    padding: 0px 10px 5px;
    h1 {
        font-size: 3.5em;
        line-height: 1em;
        letter-spacing: 0.7px;
    }
}

/* Mobile */
@media all and (max-width: 800px) {
    header {
        h1 {
            font-size: 3em;
        }    
    }
}
@media all and (max-width: 450px) {
    header {
        h1 {
            font-size: 2.4em;
        }    
    }
}
